body{
 font-family: "Roboto", "Fallback", sans-serif;
 color: #2E2F42;
}
ul{
 list-style: none;
}
.logo{
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.3em;
 letter-spacing: 0.03em;
}
header a{
 text-decoration: none;
 color: inherit;
}
.logo span{
 color: #4D5AE5;
}
nav{
 text-decoration: none;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5em;
 letter-spacing: 0.02em;
}
nav a:hover{
 color: #404BBF;
}
address{
 font-size: 16px;
 line-height: 1.5em;
 letter-spacing: 0.02em;
 font-style: normal;
 color: #434455;
}
address a:hover{
 color: #404BBF;
}
#hero_section{
 background-color: #2E2F42;
}
h1{
 width: 496px;
 height: 120px;
 color: #FFFFFF;
 font-weight: 700;
 font-size: 56px;
 line-height: 60px;
}
button{
 color: #FFFFFF;
 background-color: #4D5AE5;
 font-size: 16px;
 line-height: 1.5em;
 letter-spacing: 0.04em;
 padding: 16px 32px;
 border-radius: 4px;
 font-weight: 500;
 border: none;
 cursor: pointer;
}
button:hover{
 background-color: #404BBF;
}
h3{
 font-size: 20px;
 line-height: 1.2em;
 letter-spacing: 0.02em;
 font-weight: 500;
}
main p{
 font-size: 16px;
 line-height: 1.5em;
 letter-spacing: 0.02em;
}

h2{
 font-size: 36px;
 line-height: 1.1em;
 letter-spacing: 0.02em;
 font-weight: 700;
}
.team{
 width: 264px;
 height: 260px;
}
.portfolio{
 width: 360px;
 height: 300px;
}
#portfolio_section li{
 border: solid 1px #E7E9FC;
}
footer{
 background-color: #2E2F42;
 color: #FFFFFF;
}
#our-team{
 background-color: #F4F4FD;
}